/* Reset básico de margens e preenchimentos para todos os elementos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Fonte e fundo do corpo */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f8fa; 
  line-height: 1.6; /* Melhora a legibilidade */
  color: #14171A;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}



/* Estilo do cabeçalho */
header {
  background-color: #1DA1F2;
  color: white;
  padding: 20px; /* Adiciona preenchimento ao cabeçalho */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona sombra para profundidade */
}

/* Estilo do rodapé */
footer {
  text-align: center;
  padding: 20px;
  background-color: #1DA1F2;
  color: white;
  position: relative;
  width: 100%; /* Garante que o rodapé ocupe toda a largura */
}

/* Responsividade para dispositivos maiores */
@media (min-width: 768px) {
  .container-600px {
    max-width: 600px !important;
    margin: 0 auto; /* Centraliza o container */
  } 
}


/* Estilo do emoji-picker */  
#emojiPicker {
  position: absolute;
  z-index: 10;
  --border-radius: 8px;
  width: 400px;
  height: 300px;
  margin-top: 250px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* Sombra para destaque */
  overflow-y: auto; /* Permite rolagem se o conteúdo exceder a altura */
}

#emojiPicker .category {
  font-weight: bold; /* Destaque para as categorias de emojis */
}

#emojiPicker .emoji {
  cursor: pointer; /* Indica que os emojis são clicáveis */
  transition: transform 0.2s; /* Transição suave ao passar o mouse */
}

#emojiPicker .emoji:hover {
  transform: scale(1.1); /* Aumenta um pouco o emoji ao passar o mouse */
}



/* Estilos adicionais para melhorar a acessibilidade */
a {
  color: #1DA1F2; /* Cor dos links */
  text-decoration: none; /* Remove sublinhado dos links */
}

a:hover {
  text-decoration: underline; /* Sublinha os links ao passar o mouse */
}

/* Estilos de botão */
button {
  background-color: #1DA1F2; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  border: none; /* Remove borda padrão */
  padding: 10px 15px; /* Preenchimento do botão */
  border-radius: 4px; /* Bordas arredondadas */
  cursor: pointer; /* Indica que é clicável */
  transition: background-color 0.3s; /* Transição suave na cor de fundo */
}


li .comment {
  background-color: #0d8abf;
}