{% extends 'base.html' %}
{% load static %}
{% block title %}Home - Twitter{% endblock %}
{% block content %}
  <div class="container my-4">
    <div class="d-flex justify-content-center">
      <a href="{% url 'home' %}" class="btn btn-outline-primary me-2">Para você</a>
      <a href="{% url 'home' %}?following=true"
         class="btn btn-outline-secondary">Seguindo</a>
    </div>
  </div>
  <!-- Novo Tweet -->
  <section id="new-tweet" class="container col-md-9 my-4">
    <form method="POST"
          enctype="multipart/form-data"
          class="bg-white p-3 rounded shadow-sm border">
      {% csrf_token %}
      <div class="mb-3 position-relative">
        {{ form.content.errors }} {# Exibe erros de validação #}
        <textarea name="{{ form.content.name }}"
                  cols="40"
                  rows="3"
                  id="tweetContent"
                  maxlength="280"
                  class="form-control"
                  placeholder="O que está acontecendo?"
                  required>{{ form.content.value|default_if_none:'' }}</textarea>
        <span id="charCount"
              class="ms-2 ps-1 pe-1 position-absolute border bg-light rounded-3"
              style="left: 10px;
                     bottom: -12px">280</span>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <button type="button" id="toggleEmojiPicker" class="btn btn-light">🥳 Emojis</button>
        <emoji-picker id="emojiPicker" class="light" style="display: none"></emoji-picker>
        <button type="submit" class="btn btn-primary">Tweet</button>
      </div>
    </form>
  </section>
  <!-- Lista de Tweets e modal -->
  {% include 'tweet_list.html' %}
  <script src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1.0.0/emoji-picker.js"></script>
  <script>
      document.addEventListener("DOMContentLoaded", function() {
          const picker = document.getElementById("emojiPicker");
          const input = document.getElementById("tweetContent");
          const toggleButton = document.getElementById("toggleEmojiPicker");
          const charCount = document.getElementById("charCount");
          const imageInput = document.getElementById("tweetImageInput");
          const imagePreview = document.getElementById("tweetImagePreview");
          const tweetImage = document.getElementById("tweetImage");


          picker.addEventListener("emoji-click", (event) => {
              input.value += event.detail.unicode;
              updateCharCount(); // Atualiza o charCount após adicionar um emoji
          });

          toggleButton.addEventListener("click", () => {
              picker.style.display = picker.style.display === "none" ? "block" : "none";
          });

          window.addEventListener("click", (event) => {
              if (
                  picker.style.display === "block" &&
                  !picker.contains(event.target) &&
                  !event.target.matches("#toggleEmojiPicker")
              ) {
                  picker.style.display = "none";
              }
          });

          function updateCharCount() {
              const remainingChars = 280 - input.value.length;
              charCount.textContent = remainingChars;
              charCount.style.color = remainingChars < 0 ? "red" : "inherit";

              const tweetButton = document.querySelector('button[type="submit"]'); // Seleciona o botão de envio
              if (remainingChars < 0) {
                  tweetButton.disabled = true; // Desabilita o botão se o limite for excedido
              } else {
                  tweetButton.disabled = false; // Habilita o botão se estiver dentro do limite
              }
          }

          input.addEventListener("input", updateCharCount); // Adiciona o event listener ao textarea

          imageInput.addEventListener("change", function() {
              const file = this.files[0];
              if (file) {
                  const reader = new FileReader();
                  reader.onload = function(event) {
                      tweetImage.src = event.target.result;
                      imagePreview.style.display = "block";
                  };
                  reader.readAsDataURL(file);
              } else {
                  imagePreview.style.display = "none";
              }
          });

      });
  </script>
{% endblock %}
