{% extends 'base.html' %}
{% block title %}Perfil de {{ user.username }} - Twitter{% endblock %}
{% block content %}
  {% load static %}
  {% load form_filters %}
  <div class="my-5">
    <div class="row justify-content-center">
      <div class="container col-md-9 mb-4">
        <div class="card shadow-sm">
          <div class="card-body p-0 profile-header">
            <div class="position-relative">
              {% if user_profile.cover_image %}
                <img src="{{ user_profile.cover_image.url }}"
                     alt="{{ user_profile.username }}'s cover image"
                     class="img-fluid w-100"
                     style="max-height: 200px;
                            object-fit: cover" />
              {% else %}
                <img src="{% static 'img/default_cover.png' %}"
                     alt="Default cover image"
                     class="img-fluid w-100"
                     style="max-height: 200px;
                            object-fit: cover" />
              {% endif %}
              <div class="position-absolute profile-picture-container">
                {% if user_profile.image %}
                  <img src="{{ user_profile.image.url }}"
                       alt="{{ user_profile.username }}'s profile picture"
                       class="rounded-circle border border-white border-3 profile-picture" />
                {% else %}
                  <img src="{% static 'img/default_profile.png' %}"
                       alt="Default profile picture"
                       class="rounded-circle border border-white border-3 profile-picture" />
                {% endif %}
              </div>
            </div>
            <div class="p-3 mt-5">
              <div class="d-flex justify-content-between ">
                <div>
                  {% if user_profile.first_name and user_profile.last_name %}
                    <h4 class="card-title mb-1">{{ user_profile.first_name }} {{ user_profile.last_name }}</h4>
                  {% else %}
                    <h4 class="card-title mb-1">{{ user_profile.username }}</h4>
                  {% endif %}
                  <h6 class="text-muted">@{{ user_profile.username }}</h6>
                  {% if user_profile.bio %}<p class="mb-1">{{ user_profile.bio }}</p>{% endif %}
                  <p class="text-muted">Ingressou em: {{ user_profile.date_joined|date:"F Y" }}</p>
                  <div class="follow-info">
                    <a href="?tab=tweets" class="follow-link"><span>{{ user_profile.tweets.count }}</span> Tweets</a>
                    <a href="?tab=followers" class="follow-link"><span>{{ user_profile.followers.count }}</span> Seguidores</a>
                    <a href="?tab=following" class="follow-link"><span>{{ user_profile.followings.count }}</span> Seguindo</a>
                  </div>
                </div>
                {% if not is_own_profile %}
                  <form method="POST" action="{% url 'follow_user' user_profile.id %}">
                    {% csrf_token %}
                    {% if user_profile.id in followed_user_ids %}
                      <button type="submit" class="btn btn-danger">Deixar de Seguir</button>
                    {% else %}
                      <button type="submit" class="btn btn-primary">Seguir</button>
                    {% endif %}
                  </form>
                {% else %}
                  <div class="config-button">
                    <a href="{% url 'configuration_profile' %}"
                       class="btn btn-primary"
                       aria-label="Configurações do perfil">
                      <i class="fa fa-cog" aria-hidden="true"></i>
                    </a>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class=" card shadow-sm">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link {% if active_tab == 'tweets' %}active{% endif %}"
                   href="?tab=tweets">Tweets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if active_tab == 'followers' %}active{% endif %}"
                   href="?tab=followers">Seguidores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if active_tab == 'following' %}active{% endif %}"
                   href="?tab=following">Seguindo</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% if active_tab == 'tweets' %}
        {% include 'tweet_list.html' %}
      {% elif active_tab == 'followers' %}
        {% include 'follower_list.html' %}
      {% elif active_tab == 'following' %}
        {% include 'following_list.html' %}
      {% endif %}
    </div>
  </div>
  <style>
      .profile-header {
          position: relative;
      }

      .cover-image {
          height: 200px;
          overflow: hidden;
          position: relative;
      }

      .cover-image-img {
          width: 100%;
          height: auto;
          display: block;
          object-fit: cover;
          min-height: 200px;
      }


      .profile-picture {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          border: 4px solid white;
          position: absolute;
          right: -140px;
          top: -60px;
      }

      .user-details {
          margin-left: 140px;
      }

      .follow-info {
          display: flex;
          margin-top: 10px;
      }

      .follow-link {
          margin-right: 20px;
          color: #1da1f2;
          text-decoration: none;
      }

      .follow-link span {
          font-weight: bold;
      }

      .config-button {
          margin-left: auto;
      }

      .nav-tabs .nav-link.active {
          border-bottom: 2px solid #1da1f2;
      }
  </style>
{% endblock %}
