{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container mt-5">
  <h1 class="mb-4 text-center">{{ user.username }}'s Profile</h1>

  <div class="card mb-4 shadow-sm">
    <div class="card-body text-center">
      <img
        src="{{ user.image.url }}"
        alt="{{ user.username }}'s profile picture"
        class="rounded-circle mb-3"
        width="120"
        height="120"
      />
      <h5 class="card-title">{{ user.username }}</h5>
      <h6 class="text-muted">{{ user.email }}</h6>
      {% if user.bio %}
      <p class="mb-1">{{ user.bio }}</p>
      {% endif %} {% if user.location %}
      <p class="text-muted">{{ user.location }}</p>
      {% endif %} {% if user.id != request.user.id %}
      <form method="POST" action="{% url 'follow_user' user.id %}" class="mt-3">
        {% csrf_token %} {% if is_following %}
        <button type="submit" class="btn btn-danger">Deixar de Seguir</button>
        {% else %}
        <button type="submit" class="btn btn-primary">Seguir</button>
        {% endif %}
      </form>
      {% endif %}
    </div>
  </div>

  <h2 class="mt-4">Tweets</h2>
  <ul class="list-group mb-4">
    {% for tweet in tweets %}
    <li class="list-group-item border border-light">
      <div class="d-flex align-items-start">
        <img
          src="{{ tweet.user.image.url }}"
          alt="{{ tweet.user.username }}'s avatar"
          class="rounded-circle me-2"
          width="40"
          height="40"
        />
        <div class="flex-grow-1">
          <p class="mb-1">
            <strong>{{ tweet.user.username }}</strong>
            <small class="text-muted float-end">{{ tweet.created_at }}</small>
          </p>
          <p class="mb-0">{{ tweet.content }}</p>
          <small class="text-muted like-count"
            >{{ tweet.likes.count }} {% comment %} /////////{% endcomment %}
            Like{% if tweet.likes.count != 1 %}s{% endif %}</small
          >
          <div class="d-flex justify-content-start align-items-center">
            <button
              class="btn btn-outline-secondary btn-sm like-button"
              data-tweet-id="{{ tweet.id }}"
              data-liked="{% if tweet.id in liked_tweet_ids %}true{% else %}false{% endif %}"
            >
              <i class="fas fa-heart"></i>
              <span
                >{% if tweet.id in liked_tweet_ids %} Descurtir {% else %}
                Curtir {% endif %}</span
              >
            </button>
          </div>
        </div>
      </div>
    </li>
    {% empty %}
    <li class="list-group-item">Nenhum tweet disponível.</li>
    {% endfor %}
  </ul>
</div>

<script src="{% static 'js/like.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    console.log("socorro");
    // Selecionar todos os botões de curtida e adicionar o evento de clique
    document.querySelectorAll(".like-button").forEach((button) => {
      button.addEventListener("click", function () {
        const tweetId = this.dataset.tweetId;
        const csrfToken = "{{ csrf_token }}";

        // Obter o elemento que contém o contador de likes do tweet
        const likeCountElement =
          this.closest("li").querySelector(".like-count");

        if (likeCountElement) {
          console.log("Elemento .like-count encontrado:", likeCountElement);

          handleLikeButtonClick(this, tweetId, csrfToken, likeCountElement);
        } else {
          console.error("Elemento .like-count não encontrado.");
        }
      });
    });
  });
</script>
{% endblock %}
